body {
    font-family: Bauhaus93, ;
    margin: 20px;
}

h1 {
    text-align: center;
    color: #333;
}

p {
    margin-bottom: 20px;
}

img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}

a {
    display: block;
    text-align: center;
    color: #007bff;
    text-decoration: none;
}

iframe {
    display: block;
    margin: 0 auto;
}

body {
  background-image: url(background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
